h1{
color: #000;;
font-family: 'Courier New', Courier, monospace;
font-size: 30px;
}
p{
color: #112733;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 24px;
}
body{
background-color: #6093ac;
}
img{
width: 200px;
height: 180px;
}